body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif;
    margin: auto;
    background-color: #331D2C;
    color: #EFE1D1;
}

nav {    
    color: #EFE1D1;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

nav a:hover,
nav a:active,
nav a:focus {
    color: #A78295;
}



intro h1 {
    text-align: center;
    background-color: #3F2E3E;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px; 
}



