body, h1, h2, h3, h4, h5, h6, p, img{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    background-color: #352F44;
    color: #FAF0E6;
    padding-left: 2rem;
    padding-right: 2rem;
}

nav {    
    color: #EFE1D1;
    text-align: left;
    padding: 10px 0;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color:#FAF0E6;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
    transition: color 0.3s ease;
}

a:hover,
a:active,
a:focus {
    color: #A78295;
}

.clickbaitbutton {
    background-color: #FAF0E6;
}

.clickbaitbutton:hover,
.clickbaitbutton:active,
.clickbaitbutton:focus 
{
    color: #A78295;
}


.introclickbaitlink {
    text-decoration: none;
    color:#FAF0E6;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
    transition: color 0.3s ease;
}


.introclickbaitlink:hover,
.introclickbaitlink:active,
.introclickbaitlink:focus 
{
    color: #A78295;
}

.rightimage {
    text-decoration: none;
    color:#FAF0E6;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
    transition: color 0.3s ease;
}

.rightimage:hover,
.rightimage:active,
.rightimage:focus {
    color: #A78295;
}

.leftimage {
    text-decoration: none;
    color:#FAF0E6;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: left;
    transition: color 0.3s ease;
}

.leftimage:hover,
.leftimage:active,
.leftimage:focus {
    color: #A78295;
}

intro {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

introtext {
    max-width: 750px;
}

intro iframe {
    width: 600px; /* Adjust to make the video wider */
    height: 500px; /* Adjust the height accordingly */
}

intromediacontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;


}

.titles {
    /* text-align: left; */
    background-color: #5C5470;
    font-size: 2rem;
    font-weight: bold;
    /* padding: 20px;  */
}

.introsourcetext {
    text-align: center;
}

.introimage {
    max-width: 600px;
}

prep {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* prepcontent {
    max-width: 900px;
} */

prepmedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

prep h1 {
    /* text-align: left; */
    background-color: #5C5470;
    font-size: 2rem;
    font-weight: bold;
    /* padding: 20px;  */
}

iden h1 {
    /* text-align: left; */
    background-color: #5C5470;
    font-size: 2rem;
    font-weight: bold;
    /* padding: 20px;  */
}

contain h1 {
    /* text-align: left; */
    background-color: #5C5470;
    font-size: 2rem;
    font-weight: bold;
    /* padding: 20px;  */
}

erad h1 {
    /* text-align: left; */
    background-color: #5C5470;
    font-size: 2rem;
    font-weight: bold;
    /* padding: 20px;  */
}

recover h1 {
    /* text-align: left; */
    background-color: #5C5470;
    font-size: 2rem;
    font-weight: bold;
    /* padding: 20px;  */
}

checklist_panel h1 {
    /* text-align: left; */
    background-color: #5C5470;
    font-size: 2rem;
    font-weight: bold;
    /* padding: 20px;  */
}



